:root{
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --main-color: #9f7c91;
    --highlight-color:rgb(161, 226, 224);

    --size-cd: 200px;
}
*{
    box-sizing: inherit ;
}
html{
    font-size: 62.5%;
    line-height: 2rem;
    box-sizing: border-box;
}