body{
    background-size: 100% auto;
}

/* giao diện chính */
.player{
    /* background-color:var(--main-color); */
    margin: auto;
    width: 400px;
}

/** Bảng điều khiển */
.dashboard{
    margin: auto;
    width: 400px ;
    max-width: 100%;
    top: 0;       /* cái này dùng để gắn cho dashboard ở trên*/
    background-color: rgb(216, 168, 196);
    position: fixed;
    box-shadow: 0px 10px 6px -6px rgba(186, 53, 130, 0.8);
}

.dashboard header {
    margin: auto;
    text-align: center;  /*căn chữ ra giữa */
}
.dashboard header p{
    margin-bottom: 5px;
    color:#972b6c;
    font-size: 12px;
}
.dashboard header h1{
    margin-top: 0px;
}
.cd{
    width: 200px;
    height: 200px;
    margin: auto ;
}
.cd-thumb{
    width: 100%;
    height: 100%;
    background-size: 100% ;
    margin-bottom: 20px;
}
/* control  */
.control{
    height: 60px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.btn{
    color: var(--black-color);
    font-size: 20px;
    margin: auto;
    color: var(--text-color);;
}
.btn-toggle-play{
    color: var(--white-color);
    background-color: #c8354d;
    width: 50px;
    height: 50px;
    border: 15px solid rgb(200, 53, 77);
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 10px 6px -6px rgba(200, 53, 77,0.8);
}
.btn-toggle-play:hover{
    border-color: #9a001a;
    background-color: #9a001a;
}
.active{
    color: var(--highlight-color);
}
.active-song{
    background-color: var(--highlight-color)!important;
    width: 380px !important;
    color: #081345 !important;
}
.btn:hover{
    cursor: pointer;
    color: var(--black-color);
}
.no-change{
    color: var(--white-color);
}
.progress{
    width: 350px;
    margin-left: 20px;
    height: 6px;
    cursor:pointer;
}
/* playlist */
.playlist{
    display: flex;
    flex-direction: column;
    margin-top: 360px;

}
.song{
    background-color: #d8a8c4;
    width: 380px;
    margin:4px auto;
    display: inline-flex;
    border-radius: 8px
}
.song:hover{
    width: 370px;
    cursor: pointer;
}
.song:active{       /* active dùng để lấy event nhấn giữ con chỏ chuột*/
    opacity: 0.8;
}
.thumb{
    width: 50px;
    height: 50px;
    background-size: 50px auto;
    margin: 12px ;
}
.body{
    flex: 1;
    margin-left:20px ;
}
.body .title{
    font-size: 20px;
    margin-bottom:0px ;
    font-weight: 900;

}
.body .author{
    margin-top: 0px;
    font-size: 11px;
    font-weight: 400;
}
.option{
    font-size: 25px;
    margin: auto;
    margin-right: 15px;
}



